<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShoppingApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthenticateServlet</display-name>
    <servlet-name>AuthenticateServlet</servlet-name>
    <servlet-class>com.shopping.deloitte.controller.AuthenticateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticateServlet</servlet-name>
    <url-pattern>/AuthenticateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.shopping.deloitte.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestServlet</display-name>
    <servlet-name>GuestServlet</servlet-name>
    <servlet-class>com.shopping.deloitte.controller.GuestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestServlet</servlet-name>
    <url-pattern>/GuestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OthersServlet</display-name>
    <servlet-name>OthersServlet</servlet-name>
    <servlet-class>com.shopping.deloitte.controller.OthersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OthersServlet</servlet-name>
    <url-pattern>/OthersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmProductServlet</display-name>
    <servlet-name>ConfirmProductServlet</servlet-name>
    <servlet-class>com.shopping.deloitte.controller.ConfirmProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmProductServlet</servlet-name>
    <url-pattern>/ConfirmProductServlet</url-pattern>
  </servlet-mapping>
</web-app>